// Theme fonts
$Helvetica-Neue-Regular: "Helvetica-Neue-Regular";
$Helvetica-Neue-Light: "Helvetica-Neue-Light";
$Helvetica-Neue-Medium: "Helvetica-Neue-Medium";
$Helvetica-Neue-Bold: "Helvetica-Neue-Bold";
$Helvetica-Neue-Condensed: "Helvetica-Neue-Condensed";
$Helvetica-Neue-Light-Condensed: "Helvetica-Neue-Light-Condensed";

$primaryFont: $Helvetica-Neue-Regular;

// Theme colors

$primaryColor: #1a95d0;
$secondaryColor: #ccc;

$primaryFontColor: #333;

$navColor: #fff;

$buttonColor: #fff;
$buttonDisabled: $secondaryColor;
