input {
    border: 1px solid #ccc;
    padding: .5rem;
    font-size: 1.4rem;
    margin-right: 1rem;
}
button {
    background-color: $primaryColor;
    color: $buttonColor;
    padding: .5rem;
    border-radius: .5rem;
    border: none;
    &:disabled {
        background-color: $buttonDisabled;
    }
    &.secondary {
        background-color: $primaryFontColor;
    }
}