html {
	font-size: 10px;
	body {
		text-rendering: optimizeLegibility;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		color: $primaryFontColor;
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		line-height: 1.2;
		margin: 0 auto;
		text-align: center;
		padding: 0;
		font-family: $primaryFont;
		article {
			height: 100%;
			* {
				box-sizing: border-box;
			}
			h1 {
				font-size: 3rem;
			}
			p {
				font-size: 1.6rem;
				line-height: 1.2;
				margin-bottom: 1rem;
			}
			main {
				> section {
					padding: 2rem;
					text-align: left;;
				}
			}
		}
		img {
			width: 100%;
			height: auto;
		}
		strong {
			font-weight: bold;
		}
	}
}
